web/bundles/*
app/cache
app/logs
build
vendor
web/phpbb
web/forum
web/media
web/css
web/images
web/js
web/src
composer.phar
app/config/parameters.ini
app/config/parameters.yml
fabfile.pyc
*.php~
web/components
web/.htaccess
bin
.idea
src/ONN/BrunBundle/Command/exports/act_text.txt
src/ONN/BrunBundle/Command/exports/scen_text.txt
src/ONN/BrunBundle/Resources/public/img/Maps/*
forum/cache/*
!forum/cache/index.htm
!forum/cache/.htaccess
forum/config.php
/chat/*
/web/phpmyadmin
/web/check.php