<div class="col-sm-8">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Background</h3>
        </div>
        <div class="panel-body">
            <p>Aesop Games is currently a three person team.</p>
            <p>Rebecca Nicol, the Unity3D developer, has a background in elementary and special needs eduction.</p>
            <p>Game designer and server admin, Matt Mitchum, has been creating and running large scale interactive games since childhood.</p>
            <p>Programmer, Margaret Staples, has life long passions for entertainment, education, and systems design.</p>
            <p>As part of a previous team, they created the first video game to use Twitter as the 'game board', Tweet Lord, was a role playing game based on the comedic bbs game LORD (Legend of the Red Dragon), and used hashtags to track interactions between players.</p>
            <p>The current Aesop Games project, Brunelleschi: Age of Architects, currently in beta and free to play.</p>
        </div>
    </div>
</div>