<div class="col-sm-8">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Brunelleschi: Key Features</h3>
        </div>
        <div class="panel-body">
            <h2 class="alert-info ui-corner-all" style="border:solid 2px darkgray; padding: 1.5px;">
                Characters
            </h2>
            <h3>2 Kinds of Characters</h3>
            <p>Each player account may create two characters: a Hero and a Lord.</p>
            <p><b>Lords</b> may hold government office or found their own Settlement.</p>
            <ul>
                <li>Lords select one of 5 classes.</li>
                <li>Each Lord class can progress through 13 ranks, based on importance, and 1000 levels, based on experience.</li>
                <li>Lords may accept pledges of fealty from other Lords and Heroes.</li>
                <li>Lords inherit importance from any characters who have pledged their fealty, but lose it if that pledge is withdrawn.</li>
            </ul>
            <p><b>Heroes</b> are more effective in combat and less directly subject to the opinions of other players.</p>
            <ul>
                <li>Heroes select one of 25 Hero classes.</li>
                <li>Titles are awarded to Heroes based on their importance or infamy.</li>
                <li>Heroes may take up residency in player settlements to get special bonuses and action access.</li>
                <li>Some buildings can employ Hero characters for bonuses to the building, and owners may offer big salaries in return.</li>
                <li>Depending on the laws in a player settlement, Heroes may purchase private property and manage their own buildings.</li>
            </ul>
            <hr>
            <h2 class="alert-info ui-corner-all" style="border:solid 2px darkgray; padding: 1.5px;">
                Settlements
            </h2>
            <p>All settlements in the game are player created and controlled.</p>
            <p>Rules about taxation, immigration, property ownership, etc., are established by the Sovereigns and Ministers (players) that compose the government.</p>
            <h3>Districts</h3>
            <p>Settlements are made up of Districts, with each settlement starting with the Fields District and its default building: the Granary.</p>
            <p>Settlements gain access to more Districts based on the rank of the Sovereign character.</p>
            <p>Each District has a default building which will be the only instance of that building possible in the settlement.</p>
            <p>District also each have an Exclusive building which can be constructed repeatedly, but only in that district.</p>
            <p>Linked buildings may be constructed in any District, but get a 10% bonus to their productivity in their associated district.</p>
            <p></p>
            <h3>Buildings</h3>
            <p>All buildings have some kind of effect and most have two or three effects.</p>
            <p>Building effects include various types of Harvesting, Processing, Crafting, Training, and Income, as well as bonuses or penalties to Happiness or other effects.</p>
            <p>Most buildings require some kind of NPC employees to operate which must be housed and kept reasonably happy.</p>
            <h3>Diplomacy</h3>
            <p>Settlements develop relationships with each other based on their Lords and Heroes diplomatic exchanges.</p>
            <p>Through concerted effort, and some expense, settlements may enter into beneficial treaties or brutal wars.</p>
            <hr>
            <h2 class="alert-info ui-corner-all" style="border:solid 2px darkgray; padding: 1.5px;">
                Unity3D Alpha Client
            </h2>
            <p>All of the above features have been implemented in the web client beta.</p>
            <p>A Unity3D client is also being developed and is currently in alpha.</p>
            <p>This alpha client is freely available for <a href="http://www.indiedb.com/games/brunelleschi/downloads" target="_blank">download through IndieDB</a>.</p>
            <p>Currently, settlements created in the web client can rendered in the Unity3D client, and buildings owned by the session character may be managed from inside the 3D rendering.</p>
            <p>Additional interactions are being implemented in the Unity3D client continually.</p>
        </div>
    </div>
</div>