<div class="col-sm-8">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Press Body</h3>
        </div>
        <div class="panel-body">
            Press body.
        </div>
    </div>
</div>