{% for video in videos %}
    <div class="col-sm-8 pull-right">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ video.title }}</h3>
            </div>
            <div class="panel-body text-center">
                <iframe width="560" height="315" src="{{ video.path }}" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
{% endfor %}