{% if mobile != true %}
    {% for image in rewards_images %}
        <div style="margin-left:auto;margin-right:auto;">
            <object data="{{ asset( image|replace({'png':'svg'}) ) }}" type="image/svg+xml">
                <img src="{{ asset( image ) }}" />
            </object>
        </div>
    {% endfor %}
{% else %}
    {% for image in rewards_images %}
        <div style="margin-left:auto;margin-right:auto;width:90%">
            <object data="{{ asset( image|replace({'png':'svg'}) ) }}" type="image/svg+xml" style="width:100%">
                <img src="{{ asset( image ) }}" />
            </object>
        </div>
    {% endfor %}
{% endif %}