{% extends 'ONNAesopGamesBundle::layout.html.twig' %}

{% block main %}
    <div class="container theme-showcase">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron" style="opacity: .8;padding:10px;">
            <p style="display:inline"><b>Brunelleschi: Age of Architects</b> Stealth Beta</p>
            <a target="_blank" href="http://brunegame.com" class="btn btn-primary btn-lg pull-right" role="button">Play Now &raquo;</a>
        </div>
    </div> <!-- /container -->
{% endblock %}