{% extends 'ONNAesopGamesBundle::layout.html.twig' %}

{% block main %}
    <div class="container theme-showcase">
        <div class="jumbotron" style="opacity: .8;padding:10px;">
            <p style="display:inline"><b>Brunelleschi: Age of Architects</b> Stealth Beta</p>
            <a target="_blank" href="http://brunegame.com" class="btn btn-primary btn-lg pull-right" role="button">Play Now &raquo;</a>
        </div>
        <div class="page-header">
            <h1>Aesop Games</h1>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Who We Are</h3>
                    </div>
                    <div class="panel-body">
                        While the title and content for these areas are expected to change, I thought these could serve as a starting place.
                    </div>
                </div>
            </div><!-- /.col-sm-4 -->
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">What We Do</h3>
                    </div>
                    <div class="panel-body">
                        We strive to create games which entertain while also actively engaging and stimulating players' critical thinking and imagination.
                    </div>
                </div>
            </div><!-- /.col-sm-4 -->
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Why We Do It</h3>
                    </div>
                    <div class="panel-body">
                        We're passionate about gaming and education, and hope to participate in the perpetual shaping of those fields in whatever way we are able.
                    </div>
                </div>
            </div><!-- /.col-sm-4 -->
        </div>
    </div> <!-- /container -->
{% endblock %}