{% extends 'ONNAesopGamesBundle::layout.html.twig' %}

{% block main %}
    <div class="container theme-showcase">
        <div class="jumbotron" style="opacity: .8;padding:10px;z-index:100;">
            <p style="display:inline"><b>Brunelleschi: Age of Architects</b> Bootstrap Beta</p>
            <a target="_blank" href="http://brunegame.com" class="btn btn-primary btn-lg pull-right" role="button">Play Now &raquo;</a>
        </div>
    <div class="page-header">
        <h1>Get in Touch</h1>
    </div>
    <div class="row">

        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Get in Touch</h3>
                </div>
                <div class="panel-body">
                    Please feel free to use the contact information here to reach us anytime, but keep in mind there are only a few of us so response times may vary.
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Checkout the Brunelleschi How-tos</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="http://www.wikihow.com/Create-a-Character-in-Brunelleschi:-Age-of-Architects" target="_blank">
                                Create a Character
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="http://www.wikihow.com/Build-a-Settlement-in-Brunelleschi:-Age-of-Architects" target="_blank">
                                Build a Settlement
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="http://www.wikihow.com/Buy-from-the-Market-in-Brunelleschi:-Age-of-Architects" target="_blank">
                                Buy From the Markets
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="http://www.wikihow.com/Sell-Items-in-Brunelleschi:-Age-of-Architects" target="_blank">
                                Sell On the Markets
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            {#
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Game Designer</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="https://twitter.com/AesopMatt" target="_blank">@AesopMatt</a>
                        </li>
                        <li class="list-group-item">
                            <a href="http://brunegame.blogspot.com/" target="_blank">Development Blog</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Developer</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="https://twitter.com/dead_lugosi" target="_blank">@dead_lugosi</a>
                        </li>
                        <li class="list-group-item">
                            <a href="http://deadlugosi.blogspot.com/" target="_blank">Development Blog</a>
                        </li>
                    </ul>
                </div>
            </div>
            #}

        </div>

        <div class="col-sm-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Email Us</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">info@aesopgames.com</li>
                        <li class="list-group-item">support@aesopgames.com</li>
                    </ul>
                </div>
            </div>

            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Twitter</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item"><a target="_blank" href="https://twitter.com/AesopGames">@AesopGames</a></li>
                        <li class="list-group-item"><a target="_blank" href="https://twitter.com/AgeofArchitects">@AgeofArchitects</a></li>
                    </ul>
                </div>
            </div>
         </div>

        <div class="col-sm-4">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">Google+</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item"><a target="_blank" href="https://plus.google.com/u/0/111247985601563327836/about">Aesop Games</a></li>
                        <li class="list-group-item"><a target="_blank" href="https://plus.google.com/u/0/+Brunegame/about">Brunelleschi: Age of Architects</a></li>
                    </ul>
                    </ul>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Facebook</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item"><a target="_blank" href="https://www.facebook.com/AesopGames">Aesop Games</a></li>
                        <li class="list-group-item"><a target="_blank" href="https://apps.facebook.com/brunelleschi">Brunelleschi the App</a></li>
                        <li class="list-group-item"><a target="_blank" href="https://www.facebook.com/BrunGame">Brunelleschi the Page</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> <!-- /container -->
{% endblock %}