{% extends 'ONNAesopGamesBundle::layout.html.twig' %}

{% block main %}
    <div class="container theme-showcase">
        <div class="jumbotron" style="opacity: .8;padding:10px;z-index:100;">
            <p style="display:inline"><b>Brunelleschi: Age of Architects</b> Bootstrap Beta</p>
            <a target="_blank" href="http://brunegame.com" class="btn btn-primary btn-lg pull-right" role="button">Play Now &raquo;</a>

            <a href="http://www.rockethub.com/projects/45939-brunelleschi-age-of-architects" target="_blank" class="btn btn-success btn-lg pull-right" style="margin-right: 10px;" role="button">Support</a>

        </div>
    <div class="page-header">
        <h1>Get in Touch</h1>
    </div>
    <div class="row">

        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Get in Touch</h3>
                </div>
                <div class="panel-body">
                    Please feel free to use the contact information here to reach us anytime, but keep in mind there are only a few of us so response times may vary.
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Checkout the Brunelleschi How-tos</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="http://www.wikihow.com/Create-a-Character-in-Brunelleschi:-Age-of-Architects" target="_blank">
                                Create a Character
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="http://www.wikihow.com/Build-a-Settlement-in-Brunelleschi:-Age-of-Architects" target="_blank">
                                Build a Settlement
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="http://www.wikihow.com/Buy-from-the-Market-in-Brunelleschi:-Age-of-Architects" target="_blank">
                                Buy From the Markets
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="http://www.wikihow.com/Sell-Items-in-Brunelleschi:-Age-of-Architects" target="_blank">
                                Sell On the Markets
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="http://www.wikihow.com/Post-a-Ministry-Job-in-Brunelleschi:-Age-of-Architects" target="_blank">
                                Post a Ministry Job
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="http://www.wikihow.com/Manage-Your-Ministers-in-Brunelleschi:-Age-of-Architects" target="_blank">
                                Manager Your Ministers
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="http://www.wikihow.com/Get-a-Settlement-to-Rank-3-in-Brunelleschi:-Age-of-Architects" target="_blank">
                                Get a Settlement to Rank 3
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="panel-footer" style="padding-bottom:20px;">
                    <a href="http://deadlugosi.blogspot.com/" target="_blank" class="pull-left">Programmer's Blog</a>
                    <a href="https://github.com/mstaples/BruneDocs/blob/master/CHANGELOG-0.2.0.md" target="_blank" class="pull-right">Changelog</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Press Kit</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="#" onclick="selectMain('{{ url('press_kit') }}')">Browse Our Press Kit</a></li>
                    </ul>
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Email Us</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">info@aesopgames.com</li>
                        <li class="list-group-item">support@aesopgames.com</li>
                    </ul>
                </div>
            </div>

            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Twitter</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item"><a target="_blank" href="https://twitter.com/AesopGames">@AesopGames</a></li>
                        <li class="list-group-item"><a target="_blank" href="https://twitter.com/AgeofArchitects">@AgeofArchitects</a></li>
                        <li class="list-group-item">
                            <a href="https://twitter.com/AesopMatt" target="_blank">@AesopMatt</a>
                        </li>
                        <li class="list-group-item">
                            <a href="https://twitter.com/MultiAxisMatt" target="_blank">@MultiAxisMatt</a>
                        </li>
                        <li class="list-group-item">
                            <a href="https://twitter.com/dead_lugosi" target="_blank">@dead_lugosi</a>
                        </li>
                    </ul>
                </div>
            </div>

         </div>

        <div class="col-sm-4">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">Google+</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item"><a target="_blank" href="https://plus.google.com/u/0/111247985601563327836/about">Aesop Games</a></li>
                        <li class="list-group-item"><a target="_blank" href="https://plus.google.com/u/0/+Brunegame/about">Brunelleschi: Age of Architects</a></li>
                        <li class="list-group-item">
                            <a href="https://plus.google.com/u/0/106528961981337780732/posts" target="_blank">Google+ Matt</a>
                        </li>
                        <li class="list-group-item">
                            <a href="https://plus.google.com/u/0/112242673678831218404/posts" target="_blank">Google+ Margaret</a>
                    </ul>
                    </ul>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Facebook</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item"><a target="_blank" href="https://www.facebook.com/AesopGames">Aesop Games</a></li>
                        <li class="list-group-item"><a target="_blank" href="https://apps.facebook.com/brunelleschi">Brunelleschi the App</a></li>
                        <li class="list-group-item"><a target="_blank" href="https://www.facebook.com/BrunGame">Brunelleschi the Page</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div> <!-- /container -->
{% endblock %}