{% extends 'ONNAesopGamesBundle::layout.html.twig' %}

{% block main %}
    <div class="container theme-showcase">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron" style="z-index:100;padding-bottom:60px; opacity: .8; background: #eeeeee url('{{ asset('bundles/onnaesopgames/images/brunelleschiBanner01.jpg') }}') top center no-repeat; padding-top: 250px;">
            <h1 style="display:inline">Brunelleschi: <span style="font-style:italic;font-size:smaller">Age of Architects</span></h1>
            <p><b>Brunelleschi: Age of Architects</b> is a new strategy webgame featuring multiple character type, classes, and the ability to build and lead huge settlements full of active players! It's completely free to play, and all premium items can be obtained through gameplay! Give it a try today, see if you've got what it takes to conquer the Mythic Renaissance!</p>
            <p>
                Brunelleschi is currently in 'Bootstrap Beta', so if you've found us, please be prepared for some UI disruption and occasional bugs. Characters will not be deleted from this server (the live server) at any point, so progress made will persist indefinitely. Thanks for playing, please feel free to contact us on Twitter(@AgeOfArchitects) or through e-mail at support@aesopgames.com
            </p>
            <a target="_blank" href="http://brunegame.com" class="btn btn-primary btn-lg pull-right" role="button">Play Now &raquo;</a>
            {#
            <a href="#" onclick="selectMain('{{ path('support') }}')" class="btn btn-success btn-lg pull-right" style="margin-right: 10px;" role="button">Support</a>
            #}
        </div>
            <div style="clear:both"></div>
        <div class="row">
        <div class="alert alert-success ui-corner-all text-center">
            <h3>Credits</h3><hr>
            <div style="clear:both"></div>
        </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Current Version</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">Matt Mitchum, designer</li>
                            <li class="list-group-item">Margaret Staples, programmer</li>
                            <li class="list-group-item">Rebecca Nicol, art-coordinator</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-sm-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Version Alpha (2009)</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">Matt Mitchum*, designer (2006-)</li>
                            <li class="list-group-item">Margaret Staples*, project-manager (2006-)</li>
                            <li class="list-group-item">Marcia Burrows*, programmer (2008-)</li>
                            <li class="list-group-item">Sheetal Goyal, programmer (2009)</li>
                            <li class="list-group-item">Eli Owens*, art-director (2007-)</li>
                            <li class="list-group-item">Vangelis Drosos, artist (2009)</li>
                            <li class="list-group-item">Stig Geukens (2009)</li>
                            <li class="list-group-item">Sarah Shaw, artist (2009)</li>
                            <li class="list-group-item">Texic, artist (2009)</li>
                            <li class="list-group-item">Darren Gears, artist (2009)</li>
                            <li class="list-group-item">Angela Dunn, artist (2009)</li>
                        </ul>
                        <div class="alert alert-info alert-dismissable">
                            <small>Several years back, just before and as the economy was crashing, we attempted this design with a larger team.  Much of the art created is still used, and all contributions made in the first attempt are still appreciated.  If someone who threw in on that project has been missed here, please let us know so that we can include them.</small><hr>
                            <small>*Tweetlord Alumni</small>
                        </div>
                    </div>
                </div>
            </div>
    </div> <!-- /container -->
{% endblock %}