{% extends 'ONNAesopGamesBundle::layout.html.twig' %}

{% block main %}
    <div class="container theme-showcase">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron" style="padding-bottom:60px; opacity: .8; background: #eeeeee url('{{ asset('bundles/onnaesopgames/images/brunelleschiBanner01.jpg') }}') top center no-repeat; padding-top: 250px;">
            <h1 style="display:inline">Brunelleschi: <span style="font-style:italic;font-size:smaller">Age of Architects</span></h1>
            <p><b>Brunelleschi: Age of Architects</b> is a new strategy webgame featuring multiple character type, classes, and the ability to build and lead huge settlements full of active players! It's completely free to play, and all premium items can be obtained through gameplay! Give it a try today, see if you've got what it takes to conquer the Mythic Renaissance!</p>
            <p>
                Brunelleschi is currently in 'Stealth Beta', so if you've found us, please be prepared for some UI disruption and occasional bugs. Characters will not be deleted from this server (the live server) at any point, so progress made will persist indefinitely. Thanks for playing, please feel free to contact us on Twitter(@AgeOfArchitects) or through e-mail at support@aesopgames.com
            </p>
            <a target="_blank" href="http://brunegame.com" class="btn btn-primary btn-lg pull-right" role="button">Play Now &raquo;</a>
        </div>
    </div> <!-- /container -->
{% endblock %}