{% extends 'ONNAesopGamesBundle::layout.html.twig' %}

{% block main %}
    <h1 style="margin:10px;" class="almendra">Brunelleschi: Age of Architects</h1>

    <div class="alert alert-info" style="width:90%;margin:10px;border: solid 2px;">
        <h2 class="almendra">Coming Soon to Steam Greenlight!</h2>

            <div id="good_bye">
                <h3 class="almendra">Thanks Anyway!</h3>
                <p class="almendra">We appreciate you taking the time to consider supporting our project.</p>
            </div>
    </div>
{% endblock %}