{% extends 'ONNAesopGamesBundle::layout.html.twig' %}

{% block main %}
<div class="container" style="position:relative; margin-left:auto; margin-right:auto; width: 900px;">
    <div class="row" style="border: 1px solid red;">
        <div class="col-lg-10" style="border: 1px solid red;">Hello World</div>
    </div>
</div>
{% endblock %}