{% extends 'ONNAesopGamesBundle::layout.html.twig' %}

{% block main %}
    {#
    <div class="container theme-showcase">
        <form class="form-submit" method="POST" action="http://cvu.zanox.com/rest/upload/cv" enctype="multipart/form-data">
            <input name="firstname" value="Margaret" placeholder="Margaret">
            <input name="lastname" value="Staples" placeholder="Staples">
            <input name="email" value="margaret.staples@gmail.com" placeholder="margaret.staples@gmail.com">
            <input name="jobtitle" value="Software Engineer" placeholder="Software Engineer">
            <input name="source" value="Stackoverflow" placeholder="Stackoverflow">
            <input type="file" name="file" id="file">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        </form>
    </div> <!-- /container -->
    #}
{% endblock %}